@inherits LayoutComponentBase
<div class="mv-layout">
    <main class="mv-layout-body">
        @Body
    </main>

    <footer class="mv-footer">
        <a class="mv-social-icon" 
           href="https://www.linkedin.com/company/magicvoodoo"
           target="_blank"
           rel="noopener noreferrer">
            in
        </a>

        <span>© @DateTime.Now.Year Magic Voodoo, LLC</span>
    </footer>
</div>
