@inherits LayoutComponentBase

<div class="mv-layout">
    <main class="mv-layout-body">
        @Body
    </main>

    <footer class="mv-footer">
        <span>© @DateTime.Now.Year Magic Voodoo, LLC</span>
    </footer>
</div>